<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://vercel.live; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com;">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/index.css">

</head>
<body>
  <h1>Syed shahwar Hassan </h1>
</body>
</html>